name: Test Macproxy Classic

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test_proxy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: 3.9.25
        cache: 'pip'
    - run: pip install -r requirements.txt
    - run: |
        python3 proxy.py --port 5005 &
        PID=$!
        sleep 3
        nc -z localhost 5005
        sleep 2
        kill $PID

  code_standards:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: 3.9.25
        cache: 'pip'
    - run: pip install -r requirements-dev.txt
      id: pip
    - run: black --check .
    - run: flake8 .
      if: success() || failure() && steps.pip.outcome == 'success'
